/* Based on the Deck.js Web 2.0 theme */
.deck-container {
  font-family: Calibri, "Gill Sans", "Gill Sans MT", sans-serif;
  font-size: 1.25em;
  background: #F6F7FE;
  background: -webkit-linear-gradient(top, #F6F7FE 0%, #D9DFFC 100%);
  padding: 0;
}
.deck-container > .slide {
/*  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);*/
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
}
.deck-container pre, .deck-container code, .deck-container kbd, .deck-container samp {
  font-family: Consolas, monospace, sans-serif;
}
.deck-container h1, .deck-container h2, .deck-container h3, .deck-container h4, .deck-container h5, .deck-container h6 {
  font-family: Constantia, Palatino, "Palatino Linotype", "Book Antiqua", Georgia, serif;
}
.deck-container h1 {
  color: #2A0A71;
}
.deck-container h1 span {
  color: #7B94C6;
  display: block;
  font-size: .6em;
  margin-top: .5em;
/*  display: none;*/
  visibility: hidden;
}
.deck-container h2 {
  color: #0E58B9;
  border-bottom: 0;
}
.cssreflections .deck-container h2 {
  line-height: 1;
  -webkit-box-reflect: below -0.556em -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.3, transparent), color-stop(0.7, rgba(255, 255, 255, 0.1)), to(transparent));
  -moz-box-reflect: below -0.556em -moz-linear-gradient(top, transparent 0%, transparent 30%, rgba(255, 255, 255, 0.3) 100%);
}
.deck-container h3 {
  color: #000;
}
.deck-container pre {
  border-color: #cde;
  background: #fff;
  position: relative;
  /* http://nicolasgallagher.com/css-drop-shadows-without-images/ */
}
.borderradius .deck-container pre {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.csstransforms.boxshadow .deck-container pre:before, .csstransforms.boxshadow .deck-container pre:after {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 15px;
  width: 50%;
  height: 20%;
  max-width: 300px;
  -webkit-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
}
.csstransforms.boxshadow .deck-container pre:before {
  left: 10px;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.csstransforms.boxshadow .deck-container pre:after {
  right: 10px;
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  transform: rotate(3deg);
}
.deck-container code {
  color: #6485A6;
}
.deck-container blockquote,
.deck-container blockquote.slide {
/*  font-family: Constantia, Palatino, "Palatino Linotype", "Book Antiqua", Georgia, serif;*/
  font-size: 1.2em;
  padding: 1em 2em .5em 2em;
  color: #000;
  background: #fff;
  position: relative;
  border: 1px solid #cde;
}
.borderradius .deck-container blockquote {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.boxshadow .deck-container blockquote:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 10px;
  bottom: 10px;
  left: 0;
  right: 50%;
  -moz-border-radius: 10px/100px;
  border-radius: 10px/100px;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
}
.deck-container blockquote p {
  margin: 0;
}
.deck-container blockquote cite {
  font-size: .7em;
  font-style: italic;
  font-weight: bold;
  color: #888;
}
.deck-container blockquote:before {
  content: "“";
  position: absolute;
  top: 0;
  left: .05em;
  font-size: 4em;
  line-height: 1;
  color: #CCDEF0;
  z-index: 1;
}
.deck-container .borderradius img {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.deck-container ::-moz-selection {
  background: #08455f;
  color: #fff;
}
.deck-container ::selection {
  background: #08455f;
  color: #fff;
}
.deck-container a, .deck-container a:hover, .deck-container a:focus, .deck-container a:active, .deck-container a:visited {
  color: #599;
  text-decoration: none;
}
.deck-container a:hover, .deck-container a:focus {
  text-decoration: underline;
}
.deck-container .deck-prev-link, .deck-container .deck-next-link {
  background: #fff;
  opacity: 0.5;
}
.deck-container .deck-prev-link, .deck-container .deck-prev-link:hover, .deck-container .deck-prev-link:focus, .deck-container .deck-prev-link:active, .deck-container .deck-prev-link:visited, .deck-container .deck-next-link, .deck-container .deck-next-link:hover, .deck-container .deck-next-link:focus, .deck-container .deck-next-link:active, .deck-container .deck-next-link:visited {
  color: #599;
}
.deck-container .deck-prev-link:hover, .deck-container .deck-prev-link:focus, .deck-container .deck-next-link:hover, .deck-container .deck-next-link:focus {
  opacity: 1;
  text-decoration: none;
}
.deck-container .deck-status {
  font-size: 0.6666em;
}
.deck-container.deck-menu .slide {
  background: transparent;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.rgba .deck-container.deck-menu .slide {
  background: rgba(0, 0, 0, 0.1);
}
.deck-container.deck-menu .slide.deck-current, .rgba .deck-container.deck-menu .slide.deck-current, .no-touch .deck-container.deck-menu .slide:hover {
  background: #fff;
}
.deck-container .goto-form {
  background: #fff;
  border: 1px solid #cde;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.boxshadow .deck-container .goto-form {
  -webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.deck-child-current .deck-previous,
.deck-child-current .deck-before,
.deck-child-current .deck-current {
  left: 0;
  top: 0;
}

.deck-container .implementors {
	background: #efd;
	border: 1px solid #0E58B9;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: .9em;
	margin: 0 auto;
	padding: 0 6px;
	position: absolute;
	left: 0;
	top: 4.2em;
	-webkit-transform: translateX(30%);
	-moz-transform: translateX(30%);
	transform: translateX(30%);
}
.deck-container .implementors span {
	background: #efd;
	display: block;
	padding: 3px 0;
}
.deck-container .implementors::before {
	content: "";
	width: 1em;
	height: 1em;
	background: #efd;
	border: 1px solid #0E58B9;
	position: absolute;
	top: -.5em;
	left: 50%;
	-webkit-transform: translateX(-50%) rotate(45deg);
	-moz-transform: translateX(-50%) rotate(45deg);
	-transform: translateX(-50%) rotate(45deg);
	z-index: -1;
}
.deck-container .implementors + p {
	padding-top: .7em;
}
.on-slide-36 .perc ,
.on-slide-37 .perc {
	color: #00c;
	font-weight: bold;
}
.on-slide-35 .redundant ,
.on-slide-36 .redundant ,
.on-slide-37 .redundant {
	color: #c00;
	font-weight: bold;
}
.on-slide-38 .penner-magic {
	color: #080;
	font-weight: bold;
}
#dont-care {
	margin-bottom: .4em;
}
.deck-container:not(.deck-menu) > .deck-before .hide-on-next,
.deck-container:not(.deck-menu) > .deck-previous .hide-on-next,
.hide-on-next + .slide.deck-next {
  display: none;
}