/* Based on the Deck.js Web 2.0 theme */
.deck-container {
  font-family: Calibri, "Gill Sans", "Gill Sans MT", sans-serif;
  font-size: 1.25em;
  background: #F6F7FE;
  background: -webkit-linear-gradient(top, #F6F7FE 0%, #D9DFFC 100%);
  padding: 0;
}
.deck-container > .slide {
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
}
.deck-container > .slide text {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.deck-container pre, .deck-container code, .deck-container kbd, .deck-container samp {
  font-family: Consolas, monospace, sans-serif;
}
.deck-container h1, .deck-container h2, .deck-container h3, .deck-container h4, .deck-container h5, .deck-container h6 {
  font-family: Constantia, Palatino, "Palatino Linotype", "Book Antiqua", Georgia, serif;
}
.deck-container h1 {
  color: #2A0A71;
}
.deck-container h1 span {
  color: #7B94C6;
  display: block;
  font-size: .6em;
  margin-top: .5em;
  visibility: hidden;
}
.deck-container h2 {
  color: #0E58B9;
  border-bottom: 0;
}
.cssreflections .deck-container h2 {
  line-height: 1;
  -webkit-box-reflect: below -0.556em -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.3, transparent), color-stop(0.7, rgba(255, 255, 255, 0.1)), to(transparent));
  -moz-box-reflect: below -0.556em -moz-linear-gradient(top, transparent 0%, transparent 30%, rgba(255, 255, 255, 0.3) 100%);
}
.deck-container h3 {
  color: #000;
}
.deck-container pre {
  border-color: #cde;
  background: #fff;
  position: relative;
  /* http://nicolasgallagher.com/css-drop-shadows-without-images/ */
}
.borderradius .deck-container pre {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.csstransforms.boxshadow .deck-container pre:before, .csstransforms.boxshadow .deck-container pre:after {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 15px;
  width: 50%;
  height: 20%;
  max-width: 300px;
  -webkit-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
}
.csstransforms.boxshadow .deck-container pre:before {
  left: 10px;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.csstransforms.boxshadow .deck-container pre:after {
  right: 10px;
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  transform: rotate(3deg);
}
.deck-container code {
  color: #396B9D;
}
.deck-container blockquote,
.deck-container blockquote.slide {
/*  font-family: Constantia, Palatino, "Palatino Linotype", "Book Antiqua", Georgia, serif;*/
  font-size: 1.2em;
  padding: 1em 2em .5em 2em;
  color: #000;
  background: #fff;
  position: relative;
  border: 1px solid #cde;
}
.borderradius .deck-container blockquote {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.boxshadow .deck-container blockquote:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 10px;
  bottom: 10px;
  left: 0;
  right: 50%;
  -moz-border-radius: 10px/100px;
  border-radius: 10px/100px;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
}
.deck-container blockquote p {
  margin: 0;
}
.deck-container blockquote cite {
  font-size: .7em;
  font-style: italic;
  font-weight: bold;
  color: #888;
}
.deck-container blockquote:before {
  content: "“";
  position: absolute;
  top: 0;
  left: .05em;
  font-size: 4em;
  line-height: 1;
  color: #CCDEF0;
  z-index: 1;
}
.deck-container .borderradius img {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.deck-container ::-moz-selection {
  background: #08455f;
  color: #fff;
}
.deck-container ::selection {
  background: #08455f;
  color: #fff;
}
.deck-container a, .deck-container a:hover, .deck-container a:focus, .deck-container a:active, .deck-container a:visited {
  color: #556C9B;
  text-decoration: none;
}
.deck-container a:hover, .deck-container a:focus {
  text-decoration: underline;
}
.deck-container .deck-prev-link, .deck-container .deck-next-link {
  background: #fff;
  opacity: 0.5;
}
.deck-container .deck-prev-link, .deck-container .deck-prev-link:hover, .deck-container .deck-prev-link:focus, .deck-container .deck-prev-link:active, .deck-container .deck-prev-link:visited, .deck-container .deck-next-link, .deck-container .deck-next-link:hover, .deck-container .deck-next-link:focus, .deck-container .deck-next-link:active, .deck-container .deck-next-link:visited {
  color: #599;
}
.deck-container .deck-prev-link:hover, .deck-container .deck-prev-link:focus, .deck-container .deck-next-link:hover, .deck-container .deck-next-link:focus {
  opacity: 1;
  text-decoration: none;
}
.deck-container .deck-status {
  font-size: 0.6666em;
}
.deck-container.deck-menu .slide {
  background: transparent;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.rgba .deck-container.deck-menu .slide {
  background: rgba(0, 0, 0, 0.1);
}
.deck-container.deck-menu .slide.deck-current, .rgba .deck-container.deck-menu .slide.deck-current, .no-touch .deck-container.deck-menu .slide:hover {
  background: #fff;
}
.deck-container .goto-form {
  background: #fff;
  border: 1px solid #cde;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.boxshadow .deck-container .goto-form {
  -webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.deck-child-current .deck-previous,
.deck-child-current .deck-before,
.deck-child-current .deck-current {
  left: 0;
  top: 0;
}

.deck-container li cite {
	font-style: italic;
}
.deck-container:not(.deck-menu) > .deck-before .hide-on-next:not(.deck-current),
.deck-container:not(.deck-menu) > .deck-previous .hide-on-next:not(.deck-current),
.hide-on-next + .slide.deck-next,
.hide-on-next + .slide.deck-after {
	display: none;
}
.deck-container .implementors {
	background: #efd;
	border: 1px solid #0E58B9;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: .9em;
	margin: 0 auto;
	padding: 0 6px;
	position: absolute;
	left: 0;
	top: 4.2em;
	-webkit-transform: translateX(5%);
	-moz-transform: translateX(5%);
	transform: translateX(5%);
}
.deck-container .implementors span {
	background: #efd;
	display: block;
	padding: 3px 0;
}
.deck-container .implementors::before {
	content: "";
	width: 1em;
	height: 1em;
	background: #efd;
	border: 1px solid #0E58B9;
	position: absolute;
	top: -.5em;
	left: 11px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-transform: rotate(45deg);
	z-index: -1;
}
.deck-container .implementors + p {
	padding-top: .7em;
}
.on-slide-28 .perc ,
.on-slide-29 .perc {
	color: #00c;
	font-weight: bold;
}
.on-slide-27 .redundant ,
.on-slide-28 .redundant ,
.on-slide-29 .redundant {
	color: #c00;
	font-weight: bold;
}
.on-slide-30 .penner-magic {
	color: #080;
	font-weight: bold;
}
#dont-care {
	margin-bottom: .4em;
}
#history .history {
	background-repeat: no-repeat;
	background-position: 0 0;
	height: 420px;
	text-indent: -999em;
	width: 700px;
}
#history1 {
	background-image: url(../img/history1.png);
}
#history2 {
	background-image: url(../img/history2.png);
}
#history3 {
	background-image: url(../img/history3.png);
}
.deck-container ul {
	font-size: 1.3em;
	list-style-image: url(../img/bullet.png);
}
.deck-container li.twitter {
	list-style-image: url(../img/iamnotyourbroom.png);
}
.deck-container li.github {
	list-style-image: url(../img/gravatar.jpg);
}
.img-header h2 span {
	background-position: 0 0;
	background-repeat: no-repeat;
	display: inline-block;
	text-indent: -999em;
}
#how-it-works-basic h2 span {
	background-color: #041821;
	background-image: url(../img/dummies.png);
	border-radius: 10px;
	height: 50px;
	width: 198px;
}
#how-it-works-desc h2 span {
	background-image: url(../img/smarties.png);
	height: 55px;
	margin-top: -5px;
	width: 162px;
}
#how-it-works-basic .rendezvous {
	background-repeat: no-repeat;
	background-position: 0 0;
	height: 300px;
	text-indent: -999em;
	width: 600px;
}
#mr-a {
	background-image: url(../img/rendezvous1.png);
}
#mr-e {
	background-image: url(../img/rendezvous2.png);
}
#rendezvous {
	background-image: url(../img/rendezvous3.png);
}
#rendezvoush {
	background-image: url(../img/rendezvous4.png);
}
#hiwd-container, #cemd-container {
	position: relative;
}
#cemd-container {
	z-index: 10;
}
.deck-container .deck-before.deck-child-current .hide-when-before {
	display: none;
}
.cemd-anim-container {
	clear: left;
	float: left;
	width: 50%;
}
.deck-container .cemd-animatable {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-top: 5px;
	padding: 6px 0;
	position: relative;
	text-align: center;
	width: 100px;
}
.deck-container .cemd-animatable-fx {
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
#penner h2 {
	background: url(../img/penner.jpg) no-repeat 0 22px;
	height: 137px;
	padding-left: 150px;
}
#keanu-woah {
	background: url(../img/nospoon.jpg) no-repeat 500px 22px;
}
#keanu-woah .tardis {
	margin-top: 2em;
}
#tardis-demo {
	background: url(../img/tardis.png) no-repeat 0 0;
	height: 544px;
	left: 50%;
	margin-left: -158px;
	margin-top: -272px;
	top: 50%;
	position: absolute;
	width: 317px;
}
#spartacss {
	margin: 0;
}
#leonidas {
	background: url(../img/leonidas.png) no-repeat 0 0;
	height: 248px;
	line-height: 248px;
	margin-top: 2em;
	padding-left: 200px;
}
#css img {
	margin: 1em 0 0;
}
#css .small {
	font-size: .9em;
	margin-top: .5em;
}
#not-quite-the-end p {
	margin-bottom: .5em;
}
#controls {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.5em;
  text-align: center;
  font-style: italic;
}
